html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #252641;
  font-weight: 400;
  line-height: 1;
  font-family: "Open+Sans", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  color: rgb(84, 84, 84);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
  font-family: "Open+Sans", sans-serif;
  padding: 9px 32px;
  border: 0;
  outline: none;
  border-radius: 100rem;
  word-break: break-word;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}
.btn-white {
  background-color: white;
  color: #0056b3;
}
.btn-white:hover {
  color: #00254d;
}
.btn-primary {
  color: #ffffff;
  background-color: rgb(242, 49, 38);
  transition: all 0.3s;
  border: none;
}
.btn-primary:hover {
  background-color: #0056b3;
}
.btn-secondary {
  color: #ffffff;
  background-color: rgb(255, 190, 39);
  border: none;
}
.btn-secondary:hover {
  background-color: #0056b3;
}
.btn-third {
  border: 1px solid rgb(255, 94, 47);
  color: rgb(255, 94, 47);
  background-color: #ffffff;
  transition: all 0.3s;
  padding: 9px 48px;
}
.btn-third:hover {
  background-color: #0056b3;
  border: 1px solid #0056b3;
  color: #ffffff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
.wrapper .content-page {
  flex: 1;
}

.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999999999;
  transition: transform 1s cubic-bezier(0.92, 0.07, 0.49, 0.73);
  background: #fff;
  animation: loaderPulse 2s ease-out forwards;
  animation-delay: 1s;
}
.loader .loader-logo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 360px;
  height: auto;
  animation: logoPulse 1s ease-out forwards;
}
@media (max-width: 768px) {
  .loader .loader-logo {
    width: 200px;
  }
}
@keyframes logoPulse {
  0% {
    transform: scaleX(1);
  }
  50% {
    opacity: 1;
    transform: scaleX(1.2);
  }
  100% {
    opacity: 0.5;
    transform: scaleX(1);
  }
}
@keyframes loaderPulse {
  100% {
    transform: translateY(-100%);
  }
}

.bg-primary {
  background-image: linear-gradient(rgb(7, 58, 145), rgb(5, 31, 77));
  background-color: rgba(0, 0, 0, 0);
  background-size: auto;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
}

.text-white {
  color: #ffffff !important;
}

.bg-secondary {
  background-color: rgb(7, 58, 145) !important;
}

@media (max-width: 480px) {
  .row {
    margin: 0 -16px;
  }
}
@media (max-width: 480px) {
  .row > * {
    padding: 0 16px;
  }
}
@media (max-width: 480px) {
  .row.row-spc-8 {
    margin: 0 -8px;
  }
}
@media (max-width: 480px) {
  .row.row-spc-8 > * {
    padding: 0 8px;
  }
}

@media (min-width: 1140px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px;
  }
}
@media (max-width: 480px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    padding: 0 16px;
  }
}

@media (max-width: 480px) {
  .ladi-headline {
    font-size: 28px m !important;
    text-align: center;
  }
}

.header {
  overflow: hidden;
  height: 68px;
  background-color: rgba(228, 228, 228, 0.1);
  position: relative;
}
@media (max-width: 480px) {
  .header {
    display: none;
  }
}
.header .container {
  height: 100%;
  position: relative;
}
.header .container .header-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header .container .header-group .header-logo {
  width: 280px;
  height: 58.5px;
  object-fit: cover;
  display: inline-block;
}
.header .container .header-group .right-header {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header .container .header-group .right-header .hotline {
  margin-left: 15px;
}

header {
  position: relative;
  width: 100%;
  height: 60px;
}

header.clone {
  position: fixed;
  top: -68px;
  left: 0;
  right: 0;
  z-index: 999;
  transition: 0.2s top cubic-bezier(0.3, 0.73, 0.3, 0.74);
  background-color: #ffffff;
}

body.down header.clone {
  top: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 960px) {
  .menu {
    display: none;
  }
}
.menu .menu-item {
  color: rgb(84, 84, 84);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
  padding: 0 15px;
  cursor: pointer;
}
.menu .menu-item:hover {
  color: rgb(27, 122, 242);
}
.menu .menu-item + .menu-item {
  margin-left: 15px;
}

.footer {
  width: 100%;
}
.footer .title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
  color: rgb(5, 31, 77);
  text-align: left;
  width: 100%;
  display: inline-block;
  word-break: break-word;
  background-size: cover;
  background-position: center center;
  margin-bottom: 24px;
}
.footer .d-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}
.footer .d-flex .icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 8px;
}
.footer .d-flex p {
  font-size: 14px;
  line-height: 1.4;
  color: rgb(5, 31, 77);
  text-align: left;
  margin-bottom: 0px;
}
.footer .bank {
  margin-top: 24px;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 480px) {
  .footer .bank {
    width: 100%;
    justify-content: center;
  }
}
.footer .bank img {
  object-fit: cover;
  display: block;
}
.footer .bank .card {
  width: 44px;
  height: 28px;
}
.footer .bank .card + .card {
  margin-left: 10px;
}
.footer .bank .bo-cong-thuong {
  margin-left: 10px;
  width: 72px;
  height: 35px;
}
.footer .horizontal-line {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
  height: 1px;
  background-color: rgba(5, 31, 78, 0.2);
}
.footer .end-text {
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  color: rgb(5, 31, 77);
  text-align: center;
  padding-bottom: 24px;
}

.banner-top {
  background-color: rgb(242, 49, 38);
  height: 60px;
}
.banner-top .container {
  height: 100%;
}
.banner-top .container .banner-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.banner-top .container .banner-group .title {
  color: rgb(242, 234, 5);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
  margin-right: 50px;
  height: 100%;
  margin: 0px;
  display: table-cell;
  vertical-align: middle;
  padding: 8px;
}
.banner-top .container .banner-group .title .sub-title {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: left;
  line-height: 1.6;
}

.banner-home {
  width: 100%;
  position: relative;
  z-index: 20;
  min-height: 430px;
}
@media (max-width: 480px) {
  .banner-home {
    width: 100%;
    margin-left: 0;
    min-height: 375px;
  }
}
.banner-home::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
.banner-home > img {
  width: 100%;
  display: block;
  border-radius: 8px;
  object-fit: cover;
  height: 510px;
}
@media (max-width: 480px) {
  .banner-home > img {
    border-radius: 0;
  }
}
.banner-home .caption-home {
  width: 100%;
  padding: 0 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
@media (max-width: 480px) {
  .banner-home .caption-home {
    justify-content: flex-start;
    padding-top: 50px;
  }
}
@media (min-width: 1200px) {
  .banner-home .caption-home {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .banner-home .caption-home {
    max-width: 1320px;
  }
}
.banner-home .caption-home img {
  width: 231px;
  height: 43px;
  display: block;
  margin-bottom: 40px;
}
.banner-home .caption-home h1 {
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0px;
  line-height: 1.2;
  text-shadow: rgba(5, 31, 78, 0.6) 1px 2px 3px;
  margin-bottom: 40px;
}
@media (min-width: 960px) {
  .banner-home .caption-home h1 {
    max-width: 500px;
  }
}

.about {
  background-color: rgb(240, 246, 255);
  position: relative;
  overflow: hidden;
}
.about .ladi-box {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  width: 556px;
  height: 306px;
  top: 92.5px;
  left: 610px;
  overflow: hidden;
  z-index: -1;
}
.about .ladi-box2 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  width: 556px;
  height: 306px;
  top: 120.5px;
  left: 570px;
  overflow: hidden;
  z-index: -1;
}
.about .particles {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
}
.about .particles span:nth-child(even) {
  background: 0 0 0 10px rgba(255, 45, 117, 0.2666666667), 0 0 50px #ff2d75, -100px 0 rgba(79, 195, 220, 0.6), 100px 0 rgba(79, 195, 220, 0.6);
}
.about .particles span {
  position: relative;
  bottom: 30px;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  box-shadow: 0 0 0 10px rgba(79, 195, 220, 0.2666666667), 0 0 50px #4fc3dc, -100px 0 rgba(79, 195, 220, 0.6), 100px 0 rgba(255, 45, 117, 0.6);
  margin: 0 4px;
  border-radius: 50%;
  animation: animate 15s ease infinite;
  animation-duration: calc(125s / var(--i));
}
@keyframes animate {
  0% {
    transform: translateY(120vh) scale(0) rotate(0deg);
  }
  20% {
    transform: translateY(100vh) scale(1) rotate(0deg);
  }
  100% {
    transform: translateY(-50vh) scale(0.5) rotate(360deg);
  }
}
.about .container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;
  padding-top: 24px;
}
.about .container .left-about {
  width: 50%;
}
@media (max-width: 480px) {
  .about .container .left-about {
    margin-bottom: 32px;
    width: 100%;
    padding: 0px;
    text-align: center;
  }
}
.about .container .left-about .logo-ca {
  width: 100%;
  max-width: 164px;
  height: 74px;
  -o-object-fit: contain;
  object-fit: contain;
  margin-bottom: 10px;
}
.about .container .left-about .title {
  color: rgb(13, 98, 242);
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  line-height: 1.2;
  margin-bottom: 32px;
}
.about .container .left-about .title .sub-title {
  color: rgb(255, 93, 46);
}
.about .container .left-about .caption {
  color: rgb(246, 18, 6);
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
}
.about .container .left-about .content {
  color: rgb(5, 31, 77);
  font-size: 14px;
  line-height: 1.6;
  display: block;
  word-break: break-word;
  margin-bottom: 24px;
}
@media (min-width: 960px) {
  .about .container .left-about .content {
    max-width: 80%;
  }
}
@media (max-width: 480px) {
  .about .container .left-about .content {
    text-align: center;
  }
}
.about .container .left-about .btn {
  display: inline-block;
}
@media (max-width: 480px) {
  .about .container .left-about .btn {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.about .container .right-about {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 480px) {
  .about .container .right-about {
    margin-bottom: 32px;
    width: 100%;
    padding: 0px;
  }
}
.about .container .right-about .image-wrapper {
  width: 540px;
  height: 320px;
}
.about .container .right-about .image-wrapper .image-background {
  width: 100%;
  height: 100%;
  min-height: 320px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2.8px 2.7px rgba(0, 0, 0, 0.024), 0 6px 6px rgba(0, 0, 0, 0.035), 0 9.6px 10.1px rgba(0, 0, 0, 0.043), 0 14.1px 15.6px rgba(0, 0, 0, 0.05), 0 20.2px 23.5px rgba(0, 0, 0, 0.057), 0 29.4px 36.2px rgba(0, 0, 0, 0.065), 0 45.9px 62.1px rgba(0, 0, 0, 0.076), 0 88px 140px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  background-image: url(/images/about-image.jpg);
  background-position: center top;
  background-repeat: repeat;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 0px;
}
.about .container .right-about .video-container {
  width: 100%;
  height: 314px;
}

.why {
  background-color: rgba(235, 243, 255, 0.5);
  width: 100%;
}
.why .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.why .container .title {
  margin-top: 32px;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  color: rgb(5, 31, 77);
  text-align: center;
}
.why .container .caption {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.6;
  color: rgb(5, 31, 77);
  text-align: center;
  display: inline-block;
  word-break: break-word;
  width: 433px;
  text-align: center;
  position: relative;
}
@media (max-width: 480px) {
  .why .container .caption {
    width: 100%;
  }
}
.why .container .caption::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 1px;
  background-color: red;
}
.why .container .why-list {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 80px;
  width: 100%;
}
.why .container .why-list .why-item {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: all 0.3s;
}
.why .container .why-list .why-item .why-card {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.why .container .why-list .why-item .why-card:hover {
  transform: scale(1.1);
}
.why .container .why-list .why-item .why-card:hover span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, rgb(5, 31, 77));
  animation: animation1 2s linear infinite;
}
@keyframes animation1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.why .container .why-list .why-item .why-card:hover span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgb(5, 31, 77));
  animation: animation2 2s linear infinite;
}
@keyframes animation2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.why .container .why-list .why-item .why-card:hover span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 2px;
  background: linear-gradient(to left, transparent, rgb(5, 31, 77));
  animation: animation3 2s linear infinite;
}
@keyframes animation3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.why .container .why-list .why-item .why-card:hover span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, transparent, rgb(5, 31, 77));
  animation: animation4 2s linear infinite;
}
@keyframes animation4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.why .container .why-list .why-item .why-card::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
.why .container .why-list .why-item .why-symbol {
  width: 80px;
  height: 80px;
  margin-top: 16px;
}
.why .container .why-list .why-item p {
  margin-top: 24px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6;
  color: rgb(5, 31, 77);
  text-align: center;
  padding: 0 15px;
}

.service {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}
.service .container .title {
  margin-bottom: 32px;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  color: rgb(13, 98, 242);
  text-align: center;
  width: 100%;
  display: inline-block;
  word-break: break-word;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 480px) {
  .service .container .title {
    font-size: 24px;
    line-height: 1.4;
  }
}
.service .container .service-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.service .container .service-list .service-item {
  position: relative;
  width: calc(50% - 16px);
  height: 306px;
}
@media (max-width: 480px) {
  .service .container .service-list .service-item {
    width: 100%;
    margin-bottom: 24px;
  }
}
.service .container .service-list .service-item .banner-group {
  position: absolute;
  top: calc(100% - 80px);
  left: 0;
  right: 0;
  height: 40px;
  z-index: 10;
  display: flex;
}
.service .container .service-list .service-item .banner-group .left-banner {
  position: relative;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(234, 237, 238, 0), rgb(246, 18, 6));
  background-color: rgba(0, 0, 0, 0);
  background-size: auto;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
}
.service .container .service-list .service-item .banner-group .right-banner {
  width: 50%;
  height: 100%;
  background-image: linear-gradient(-90deg, rgba(13, 98, 242, 0), rgb(246, 18, 6));
  background-color: rgba(0, 0, 0, 0);
  background-size: auto;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
}
.service .container .service-list .service-item .banner-group .caption {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  display: inline-block;
  word-break: break-word;
  background-size: cover;
  background-position: center center;
}
.service .container .service-list .service-item .service-image1 {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  background-image: url(/images/service-image1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.service .container .service-list .service-item .service-image2 {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  background-image: url(/images/service-image2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.price {
  width: 100%;
}
.price .container {
  position: relative;
}
.price .container .title {
  padding-top: 24px;
  margin-left: 28px;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  color: rgb(5, 31, 77);
  text-align: left;
}
.price .container .shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
.price .container .price-list {
  margin-top: 58px;
}
.price .container .price-list .price-item {
  width: 100%;
  box-shadow: 0 0 1px rgba(44, 44, 44, 0.05), 0 4px 8px rgba(44, 44, 44, 0.1);
  background: #fff;
  overflow: hidden;
  display: block;
  transition: all 0.3s;
  position: relative;
  border-radius: 16px;
}
.price .container .price-list .price-item:hover {
  transform: scale(1.1);
}
.price .container .price-list .price-item .label-new {
  position: absolute;
  top: 0;
  left: 0px;
  width: 80px;
  height: 80px;
}
.price .container .price-list .price-item .label-new svg {
  margin-left: 0px;
}
.price .container .price-list .price-item .label-new .label-title {
  position: absolute;
  width: 53px;
  top: 8px;
  left: 6px;
  font-size: 14px;
  line-height: 1.6;
  color: rgb(255, 255, 255);
  transform: rotate(-44deg);
}
@media (max-width: 960px) {
  .price .container .price-list .price-item .label-new {
    display: none;
  }
}
.price .container .price-list .price-item-first {
  background-color: rgb(234, 242, 255);
  border-top-left-radius: 8px;
}
.price .container .price-list .price-item-first.middle-item, .price .container .price-list .price-item-first.last-item {
  border-top-left-radius: 0px;
}
.price .container .price-list .price-item-first .title-first {
  padding-top: 24px;
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
  color: rgb(5, 31, 77);
  text-align: center;
  margin-bottom: 16px;
}
.price .container .price-list .price-item-first .sub-title-first {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6;
  color: rgb(5, 31, 77);
  text-align: center;
  padding-bottom: 32px;
}
.price .container .price-list .price-item-second .title-second {
  font-size: 14px;
  line-height: 1.6;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.price .container .price-list .price-item-third {
  background-color: rgba(236, 244, 255, 0.6);
}
.price .container .price-list .price-item-third .title-third {
  font-size: 14px;
  line-height: 1.6;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.price .container .price-list .price-item-fourth {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.price + .price {
  margin-top: 24px;
}

.register {
  width: 100%;
  position: relative;
}
.register::after {
  position: absolute;
  content: "";
  top: 0;
  left: -5%;
  width: 491px;
  height: 436.9px;
  background-image: url(/images/faq-02.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -10;
}
@media (max-width: 480px) {
  .register::after {
    width: 290px;
    height: 230px;
  }
}
@media (min-width: 1440px) {
  .register::after {
    top: 0;
    left: 10%;
  }
}
.register::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  width: 491px;
  height: 436.9px;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  background-color: rgba(0, 0, 0, 0);
  background-size: auto;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
}
@media (min-width: 1440px) {
  .register::before {
    top: 0;
    left: 10%;
  }
}
.register .content {
  margin-top: 32px;
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.register .content .left-content {
  width: 500px;
  max-width: 500px;
  margin-top: 24px;
}
.register .content .right-content {
  width: 400px;
  margin-top: 10px;
}
.register .content .right-content .signup {
  padding: 20px 24px;
  background-color: #a7efe9;
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
  box-shadow: 0 0 1px rgba(44, 44, 44, 0.05), 0 4px 8px rgba(44, 44, 44, 0.1);
}
.register .content .right-content .signup-heading {
  font-size: 24px;
  font-weight: bold;
  color: #373941;
  margin-bottom: 24px;
}
.register .content .right-content .signup-social {
  padding: 10px;
  border-radius: 20px;
  display: block;
  width: 100%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  border: 0;
  background-color: #4c6ff4;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  box-shadow: 0 5px 10px 0 rgba(76, 111, 244, 0.5);
}
.register .content .right-content .signup-social-icon {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4c6ff4;
  font-size: 30px;
}
.register .content .right-content .signup-social-text {
  display: block;
  margin: 0 auto;
}
.register .content .right-content .signup-or {
  text-align: center;
  font-size: 16px;
  color: #999;
  margin: 55px auto;
  position: relative;
}
.register .content .right-content .signup-or span {
  display: inline-block;
  padding: 10px 30px;
  background-color: #fff;
  position: relative;
  z-index: 2;
}
.register .content .right-content .signup-or:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #999;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.register .content .right-content .signup-label {
  font-size: 16px;
  color: #63676b;
  font-weight: 500;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
}
.register .content .right-content .signup-input {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 14px;
  background-color: #ffffff;
  outline: none;
  border: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}
.register .content .right-content .signup-input::-webkit-input-placeholder {
  color: #b4bac0;
  font-weight: 500;
}
.register .content .right-content .signup-input::-moz-input-placeholder {
  color: #b4bac0;
  font-weight: 500;
}
.register .content .right-content .signup-submit {
  padding: 25px;
  color: white;
  font-size: 18px;
  text-align: center;
  border: 0;
  outline: none;
  display: inline-block;
  width: 100%;
  border-radius: 14px;
  background-color: rgb(130, 201, 30);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 5px 10px 0 rgba(130, 201, 30, 0.5);
  margin-top: 25px;
  margin-bottom: 25px;
}
.register .content .right-content .signup-already {
  text-align: center;
  font-size: 16px;
  color: #999;
}
.register .content .right-content .signup-login-link {
  color: #2979ff;
  text-decoration: none;
}
.register .content .right-content .validate-alert {
  color: red;
  margin-bottom: 10px;
  display: block;
}
@media (max-width: 480px) {
  .register .content .right-content {
    width: 100%;
    margin-bottom: 24px;
  }
  .register .content .right-content iframe {
    width: 100% !important;
  }
}
.register .title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  color: rgb(10, 103, 233);
  width: 100%;
  display: inline-block;
  word-break: break-word;
  background-size: cover;
  background-position: center center;
  margin-bottom: 32px;
}
.register ul > li {
  list-style: none;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
  color: rgb(48, 128, 232);
  padding-bottom: 24px;
  padding-left: 20px;
}
.register ul > li::before {
  position: absolute;
  width: 10px;
  height: 10px;
  background-size: 100% 100%;
  top: 6px;
  left: 0;
  background-image: url(/images/circle-li.svg);
  background-repeat: no-repeat;
  content: "";
}

/*# sourceMappingURL=app.css.map */
