html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: $gray-darker;
  font-weight: 400;
  line-height: 1;
  font-family: $font-primary;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.btn {
  display: inline-block;
  color: rgb(84, 84, 84);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
  font-family: $font-primary;
  padding: 9px 32px;
  border: 0;
  outline: none;
  border-radius: 100rem;
  word-break: break-word;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  &-white {
    background-color: white;
    color: #0056b3;
    &:hover {
      color: darken(#0056b3, 20%);
    }
  }
  &-primary {
    color: #ffffff;
    background-color: $red;
    transition: all 0.3s;
    border: none;
    &:hover {
      background-color: #0056b3;
    }
  }

  &-secondary {
    color: #ffffff;
    background-color: rgb(255, 190, 39);
    border: none;
    &:hover {
      background-color: #0056b3;
    }
  }
  &-third {
    border: 1px solid rgb(255, 94, 47);
    color: rgb(255, 94, 47);
    background-color: #ffffff;
    transition: all 0.3s;
    padding: 9px 48px;
    &:hover {
      background-color: #0056b3;
      border: 1px solid #0056b3;
      color: #ffffff;
    }
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  .content-page {
    flex: 1;
  }
}

.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999999999;
  transition: transform 1s cubic-bezier(0.92, 0.07, 0.49, 0.73);
  background: #fff;
  animation: loaderPulse 2s ease-out forwards;
  animation-delay: 1s;
  .loader-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 360px;
    height: auto;
    animation: logoPulse 1s ease-out forwards;
    @media (max-width: 768px) {
      width: 200px;
    }
  }
  @keyframes logoPulse {
    0% {
      transform: scaleX(1);
    }
    50% {
      opacity: 1;
      transform: scaleX(1.2);
    }
    100% {
      opacity: 0.5;
      transform: scaleX(1);
    }
  }
  @keyframes loaderPulse {
    100% {
      transform: translateY(-100%);
    }
  }
}
.bg-primary {
  background-image: linear-gradient(rgb(7, 58, 145), rgb(5, 31, 77));
  background-color: rgba(0, 0, 0, 0);
  background-size: auto;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
}
.text-white {
  color: #ffffff !important;
}
.bg-secondary {
  background-color: rgb(7, 58, 145) !important;
}
.row {
  @media (max-width: 480px) {
    margin: 0 -16px;
  }
  & > * {
    @media (max-width: 480px) {
      padding: 0 16px;
    }
  }
  &.row-spc-8 {
    @media (max-width: 480px) {
      margin: 0 -8px;
    }
    & > * {
      @media (max-width: 480px) {
        padding: 0 8px;
      }
    }
  }
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  @media (min-width: 1140px) {
    max-width: 1140px;
  }
  @media (max-width: 480px) {
    padding: 0 16px;
  }
}
.ladi-headline {
  @media (max-width: 480px) {
    font-size: 28px m !important;
    text-align: center;
  }
}
