.header {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 68px;
  background-color: rgba(228, 228, 228, 0.1);
  position: relative;
  @media (max-width: 480px) {
    display: none;
  }
  &-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;

    .header-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      .header-logo {
        width: 280px;
        height: 58.5px;
        object-fit: cover;
      }
      .right-header {
        display: flex;
        justify-content: end;
        align-items: center;

        .hotline {
          margin-left: 15px;
        }
      }
    }
  }
}

header {
  position: relative;
  width: 100%;
  height: 60px;
}

header.clone {
  position: fixed;
  top: -68px;
  left: 0;
  right: 0;
  z-index: 999;
  transition: 0.2s top cubic-bezier(0.3, 0.73, 0.3, 0.74);
  background-color: #ffffff;
}

body.down header.clone {
  top: 0;
}
