.header {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 60px;
  background-color: rgba(228, 228, 228, 0.1);

  &-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;

    .header-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      .header-logo {
        width: 161.618px;
        height: 29.5px;
        top: 12.5003px;
        left: 0px;
        .image-wrapper {
          position: absolute;
          width: 100%;
          height: 100%;
          overflow: hidden;
          pointer-events: none;
          .image-background {
            width: 161.618px;
            height: 29.5px;
            top: 0px;
            left: 0px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("/images/logo-header.png");
          }
        }
      }
      .right-header {
        display: flex;
        justify-content: end;
        align-items: center;

        .hotline {
          margin-left: 15px;
        }
      }
    }
  }
}
