.price {
  width: 100%;
  .container {
    position: relative;
    .title {
      padding-top: 24px;
      margin-left: 28px;
      font-size: 22px;
      font-weight: bold;
      line-height: 1.2;
      color: rgb(5, 31, 77);
      text-align: left;
    }
    .shape {
      position: absolute;
      top: 0;
      left: 0;
      width: 70px;
      height: 70px;
    }
    .price-list {
      margin-top: 58px;

      .price-item {
        width: 100%;
        box-shadow: 0 0 1px rgba(44, 44, 44, 0.05),
          0 4px 8px rgba(44, 44, 44, 0.1);
        background: #fff;
        overflow: hidden;
        display: block;
        transition: all 0.3s;
        position: relative;
        border-radius: 16px;
        &:hover {
          transform: scale(1.1);
        }
        .label-new {
          position: absolute;
          top: 0;
          left: 0px;
          width: 80px;
          height: 80px;
          svg {
            margin-left: 0px;
          }
          .label-title {
            position: absolute;
            width: 53px;
            top: 8px;
            left: 6px;
            font-size: 14px;
            line-height: 1.6;
            color: rgb(255, 255, 255);
            transform: rotate(-44deg);
          }
          @media (max-width: 960px) {
            display: none;
          }
        }
      }

      .price-item-first {
        &.middle-item,
        &.last-item {
          border-top-left-radius: 0px;
        }
        background-color: rgb(234, 242, 255);
        border-top-left-radius: 8px;
        .title-first {
          padding-top: 24px;
          font-size: 25px;
          line-height: 40px;
          font-weight: bold;
          color: rgb(5, 31, 77);
          text-align: center;
          margin-bottom: 16px;
        }
        .sub-title-first {
          font-size: 14px;
          font-weight: bold;
          line-height: 1.6;
          color: rgb(5, 31, 77);
          text-align: center;
          padding-bottom: 32px;
        }
      }
      .price-item-second {
        .title-second {
          font-size: 14px;
          line-height: 1.6;
          color: rgb(0, 0, 0);
          text-align: center;
          padding-top: 16px;
          padding-bottom: 16px;
        }
      }
      .price-item-third {
        background-color: rgba(236, 244, 255, 0.6);
        .title-third {
          font-size: 14px;
          line-height: 1.6;
          color: rgb(0, 0, 0);
          text-align: center;
          padding-top: 16px;
          padding-bottom: 16px;
        }
      }
      .price-item-fourth {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 16px;
      }
    }
  }
}
.price + .price {
  margin-top: 24px;
}
