.register {
  width: 100%;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: -5%;
    width: 491px;
    height: 436.9px;
    background-image: url(/images/faq-02.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -10;
    @media (max-width: 480px) {
      width: 290px;
      height: 230px;
    }
    @media (min-width: 1440px) {
      top: 0;
      left: 10%;
    }
  }
  &::before {
    @media (min-width: 1440px) {
      top: 0;
      left: 10%;
    }
    position: absolute;
    z-index: -1;
    content: "";
    top: 0;
    left: 0;
    width: 491px;
    height: 436.9px;
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgb(255, 255, 255)
    );
    background-color: rgba(0, 0, 0, 0);
    background-size: auto;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-attachment: scroll;
  }
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    .left-content {
      width: 500px;
      max-width: 500px;
      margin-top: 32px;
    }
    .right-content {
      width: 400px;
      height: 400px;
      margin-top: 24px;

      @media (max-width: 480px) {
        width: 100%;
        margin-bottom: 24px;
        iframe {
          width: 100% !important;
        }
      }
    }
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    color: rgb(10, 103, 233);
    width: 100%;
    display: inline-block;
    word-break: break-word;
    background-size: cover;
    background-position: center center;
    margin-bottom: 32px;
  }
  ul > li {
    list-style: none;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6;
    color: rgb(48, 128, 232);
    padding-bottom: 24px;
    padding-left: 20px;
    &::before {
      position: absolute;
      width: 10px;
      height: 10px;
      background-size: 100% 100%;
      top: 6px;
      left: 0;
      background-image: url(/images/circle-li.svg);
      background-repeat: no-repeat;
      content: "";
    }
  }
}
