.service {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  .container {
    .title {
      margin-bottom: 32px;
      font-size: 30px;
      font-weight: bold;
      line-height: 1.2;
      color: rgb(13, 98, 242);
      text-align: center;
      width: 100%;
      display: inline-block;
      word-break: break-word;
      background-size: cover;
      background-position: center center;
    }
    .service-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .service-item {
        position: relative;
        width: calc(50% - 16px);
        @media (max-width: 480px) {
          width: 100%;
          margin-bottom: 24px;
        }
        height: 306px;
        .banner-group {
          position: absolute;
          top: calc(100% - 80px);
          left: 0;
          right: 0;
          height: 40px;
          z-index: 10;
          display: flex;

          .left-banner {
            position: relative;
            width: 50%;
            height: 100%;
            background-image: linear-gradient(
              90deg,
              rgba(234, 237, 238, 0),
              rgb(246, 18, 6)
            );
            background-color: rgba(0, 0, 0, 0);
            background-size: auto;
            background-origin: padding-box;
            background-position: 0% 0%;
            background-repeat: repeat;
            background-attachment: scroll;
          }
          .right-banner {
            width: 50%;
            height: 100%;
            background-image: linear-gradient(
              -90deg,
              rgba(13, 98, 242, 0),
              rgb(246, 18, 6)
            );
            background-color: rgba(0, 0, 0, 0);
            background-size: auto;
            background-origin: padding-box;
            background-position: 0% 0%;
            background-repeat: repeat;
            background-attachment: scroll;
          }
          .caption {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            font-size: 18px;
            font-weight: bold;
            line-height: 40px;
            color: rgb(255, 255, 255);
            text-align: center;
            width: 100%;
            display: inline-block;
            word-break: break-word;
            background-size: cover;
            background-position: center center;
          }
        }
        .service-image1 {
          position: absolute;
          width: 100%;
          height: 100%;
          overflow: hidden;
          pointer-events: none;
          background-image: url(/images/service-image1.png);
          background-repeat: no-repeat;
          background-size: cover;
        }
        .service-image2 {
          position: absolute;
          width: 100%;
          height: 100%;
          overflow: hidden;
          pointer-events: none;
          background-image: url(/images/service-image2.png);
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
}
