$primary-color: rgb(5, 31, 77);
$secondary-color: rgb(13, 98, 242);
$third-color: rgb(255, 93, 46);
$wrapper: 1920px;
$gray: #696984;
$gray-light: #6c6c6c;
$gray-dark: #464646;
$gray-darker: #252641;
$purple: #5b72ee;
$yellow: rgb(242, 234, 5);
$blue: #29b9e7;
$red: rgb(242, 49, 38);
$font-primary: "Open+Sans", sans-serif;
