.why {
  background-color: rgba(235, 243, 255, 0.5);
  width: 100%;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .title {
      margin-top: 32px;
      font-size: 30px;
      font-weight: bold;
      line-height: 1.2;
      color: rgb(5, 31, 77);
      text-align: center;
    }
    .caption {
      @media (max-width: 480px) {
        width: 100%;
      }
      margin-top: 8px;
      font-size: 14px;
      line-height: 1.6;
      color: rgb(5, 31, 77);
      text-align: center;
      display: inline-block;
      word-break: break-word;
      width: 433px;
      text-align: center;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
        height: 1px;
        background-color: red;
      }
    }
    .why-list {
      margin-top: 32px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 15px;
      margin-bottom: 80px;
      width: 100%;

      .why-item {
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        transition: all 0.3s;
        .why-symbol {
          width: 80px;
          height: 80px;
          margin-top: 16px;
        }
        p {
          margin-top: 24px;
          font-size: 14px;
          font-weight: bold;
          line-height: 1.6;
          color: rgb(5, 31, 77);
          text-align: center;
          padding: 0 15px;
        }
        &:hover {
          border-width: 1px;
          border-style: solid;
          border-color: rgb(5, 31, 77);
          border-radius: 4px;
        }
      }
    }
  }
}
